<div class="show-container">
    <!-- COLONNE GAUCHE : CHAT -->
    <div class="show-left">

      <div class="chat-wrapper">

        <!-- MESSAGES -->
        <div class="chat-messages" id="chat-messages">

          <% @quest.chat.messages.each do |message| %>

            <% if message.role == "user" %>

              <div class="message-row user-message">

                <div class="message-content">

                  <div class="message-role user-role">
                    <%= @quest.user.name %>
                  </div>

                  <div class="message-bubble user-bubble">
                    <%= message.content %>
                  </div>

                </div>

                <%= image_tag "avatar_user.png", class: "chat-avatar" %>

              </div>

            <% else %>

              <div class="message-row ai-message">

                <%= image_tag "avatar_ia.png", class: "chat-avatar" %>

                <div class="message-content">

                  <div class="message-role ai-role">
                    Chef du village
                  </div>

                  <div class="message-bubble ai-bubble">
                    <%= message.content %>
                  </div>

                </div>

              </div>

            <% end %>

          <% end %>

        </div>

        <!-- INPUT -->
        <div class="chat-input-area">

          <%= simple_form_for [@quest, @message], html: { class: "chat-form" } do |f| %>

            <div class="input-wrapper">

            <%= f.text_field :content,
              class: "chat-input-field",
              placeholder: "Formule ta requête..." %>

            <%= f.button :submit,
                  "Envoyer",
                  class: "chat-send-btn" %>

          </div>

          <% end %>

        </div>

      </div>

    </div>

    <!-- COLONNE DROITE : CARD -->
    <div class="show-right pe-none">

      <% if @card.nil? %>
        <%= image_tag "creation_encours.png",
              class: "creationencours img-fluid" %>
      <% else %>
        <%= render "/cards/card", card: @card %>
      <% end %>

    </div>


</div>
