
<%# Container principal %>
<div class="container-fluid h-100">
  <div class="row h-100">

    <!-- COLONNE CHAT -->
    <div class="col-md-6 chat_show h-100"><h2>Chat show</h2>
      <%= simple_form_for [@quest, @message] do |f| %>
        <%= f.input :content, placeholder: "Quel est ta requête ?", label: false %>
        <%= f.button :submit, "Envoyer", class: "btn btn-primary" %>
      <% end %>
    </div>

    <!-- COLONNE CARD -->
    <div class="col-md-6 card_show h-100 d-flex align-items-center justify-content-center">
      <% if @card.nil? %>
          <%= image_tag "creation_encours.png", style: "max-width: 30%; max-height: 30%; height: auto; width: auto;" %>
      <% else %>
        <%= render "/cards/card" %>
      <% end %>
    </div>

  </div>
</div>
