
<%# Container principal %>
<div class="container-fluid h-100">
  <div class="row h-100">

    <!-- COLONNE CHAT -->
    <div class="col-md-6 chat_show h-100 d-flex flex-column">
      <div class="flex-grow-1">
        <% @quest.chat.messages.each do |message| %>
          <% if message.role == "user" %>
            <div class="d-flex justify-content-end mb-3 text-white">
              <p class="bg-primary p-2 rounded"><%= message.content %></p>
            </div>
          <% else %>
            <div class="d-flex justify-content-start mb-3">
              <p class="bg-light p-2 rounded"><%= message.content %></p>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="mt-auto">
        <%= simple_form_for [@quest, @message] do |f| %>
          <%= f.input :content, placeholder: "Quel est ta requête ?", label: false %>
          <%= f.button :submit, "Envoyer", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <!-- COLONNE CARD -->
    <div class="col-md-6 card_show h-100 d-flex align-items-center justify-content-center px-5">
      <% if @card.nil? %>
          <%= image_tag "creation_encours.png", style: "max-width: 30%; max-height: 30%; height: auto; width: auto;" %>
      <% else %>
        <%= render "/cards/card", card: @card %>
      <% end %>
    </div>

  </div>
</div>
