<div class="quest-card">

  <div class="quest-top">
    <%= image_tag "icone_quete_#{card.category.downcase}.png", class: "quest-class-icon" %>
    <span class="quest-class"><%= card.category %></span>
  </div>

  <div class="quest-body">
    <h2 class="quest-title">
      <%= card.title %>
    </h2>

    <p class="quest-description">
      <%= card.content %>
    </p>
  </div>

  <div class="quest-location">
    <%= image_tag "icon_localisation.png", class: "location-icon" %>
    <span>Forêt d’Eldoria</span>
  </div>

  <div class="quest-divider"></div>

  <div class="quest-footer">
    <div class="quest-reward">
      Gain : 3 200
      <%= image_tag "icone_gain.png", class: "coin-icon" %>
    </div>
  </div>
</div>
