<!-- COLONNE DROITE : CARD -->
<div class="card-show-container">
  <div class="card-show-wrapper">
      <% if @card.nil? %>
        <%= image_tag "creation_encours.png", class: "creationencours img-fluid" %>

      <% else %>
        <%= turbo_frame_tag "card_frame" do %>
          <%= render "/cards/card", card: @card %>
        <% end %>

          <% if @card.quest.user == current_user %>
            <%= link_to quest_path(@card.quest), class: "ui-btn secondary text-decoration-none mt-3" do %>
              <span class="key">M</span>
              <span class="text">Modifier la quête</span>
            <% end %>
          <% else %>
            <%= link_to quests_path, class: "ui-btn secondary text-decoration-none mt-3" do %>
              <span class="key">R</span>
              <span class="text">Retour</span>
            <% end %>
          <% end %>
      <% end %>

  </div>
</div>
